#text{
    position:absolute;
    top:40%;
    left:36.7%;
    width:443px;
  }
  #logo{
    width:100px;
    position:absolute;
    top:20%;
    left:34%;
    border:2px solid white;
    background-color:white;
    cursor:pointer;
  }
  #img{
    width:280px;
    position:absolute;
    top:-1500%;
    left:125%;
  }
  #googlesearch{
    position:absolute;
    top:42.3%;
    left:42%;
  }
  #lucky{
    position:absolute;
    top:42.3%;
    left:47.4%;
  }
  #ads{

    position:absolute;
    top:57%;
    left:39.5%;
    font-weight:none;
    color:blue;
    font-family:arial;
    font-size:12px;
  }
  #solu{

    position:absolute;
    top:57%;
    left:45.2%;
    font-weight:none;
    color:blue;
    font-family:arial;
    font-size:12px;
  }
  #News{

    position:absolute;
    top:57%;
    left:51.5%;
    font-weight:none;
    color:blue;
    font-family:arial;
    font-size:12px;
  }
  #jobs{

    position:absolute;
    top:70%;
    left:52%;
    font-weight:none;
    color:blue;
    font-family:arial;
    font-size:12px;
  }
  #images{
    position:absolute;
    top:38%;
    left:41.2%;
  }
  #groups{
      position:absolute;
    top:38%;
    left:44.3%;
  }
  #news{
        position:absolute;
    top:38%;
    left:47.5%;
  }
  #fog{
          position:absolute;
    top:38%;
    left:50.1%;
  }
  #fff{
            position:absolute;
    top:37.8%;
    left:52.4%;
    color:red;
    font-size:10.5px;
    font-family:arial;
  }
  #more{
          position:absolute;
    top:38%;
    left:54.7%;
    font-weight:bold;
  }
  #we{
            position:absolute;
    top:36.6%;
    left:39.1%;
    color:black;
    text-decoration:none;
    font-weight:bold;
    font-family:arial;
    font-size:13px;
  }
  #text2{
    font-family:arial;
    font-size:13px;
  }
  #lal{
    position:absolute;
    top:49%;
    left:38%;
    font-size:13.3px;
    font-family:arial;
  }
  #webs{
    position:absolute;
    top:60%;
    left:41%;
    font-size: 12px;
  }
  #search{
    position:absolute;
    top:40%;
    left:60.4%;
    border:2px solid black;
    background-color:black;
    color:white;
  }